<h2>Patron</h2>
<div class="tabs">
  <div class="tab" (click)="selectTab(1)" [class.active]="selectedTab === 1">Versión 1</div>
  <div class="tab" (click)="selectTab(2)" [class.active]="selectedTab === 2">Versión 2</div>
  <div class="tab" (click)="selectTab(3)" [class.active]="selectedTab === 3">Versión 3</div>
</div>
<div class="tab-content" class="component-container">
  <div *ngIf="selectedTab === 1" >
    <logistica-patron-version-1></logistica-patron-version-1>
  </div>
  <div *ngIf="selectedTab === 2">
    <logistica-patron-version-2></logistica-patron-version-2>
  </div>
  <div *ngIf="selectedTab === 3">
    <logistica-patron-version-3></logistica-patron-version-3>
  </div>
</div>
