/* Estilos para los tabs horizontales */
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0f0f0; /* Color de fondo de los tabs */
  padding: 10px;
}

/* Estilos para cada pestaña */
.tab {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Estilo para la pestaña activa */
.tab.active {
  background-color: #007bff; /* Color de fondo de la pestaña activa */
  color: #fff; /* Color del texto en la pestaña activa */
}

/* Estilos para el contenido de las pestañas */
.tab-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

h2 {
  font-size: 24px; /* Tamaño de fuente */
  color: #f5f5f5; /* Color del texto */
  margin-top: 0px; /* Espacio superior */
  background-color: #0055b6; /* Color de fondo */
  text-align: center; /* Centrar el texto horizontalmente */
  padding: 10px; /* Espaciado interno */
  margin: 0px;
}

