<div class="component-container">

  <label id="total_costo">
    Costo total: ${{total_costo}}
  </label>
  <br>
  <br>
  <label for="habitaciones">Habitaciones: </label>
  <input [(ngModel)]="habitaciones" type="number" name="habitaciones" id="habitaciones">
  <br>

  <label for="pisos">Pisos: </label>
  <input [(ngModel)]="pisos" type="number" name="pisos" id="pisos">
  <br>

  <label for="banos">Baños: </label>
  <input [(ngModel)]="banos" type="number" name="banos" id="banos">
  <br>

  <label for="patio">Patio: </label>
  <input [(ngModel)]="patio" type="checkbox" name="patio" id="patio">
  <br>

  <label for="jardin">Piscina: </label>
  <input [(ngModel)]="jardin" type="checkbox" name="jardin" id="jardin">
  <br>

  <label for="garaje">Garaje: </label>
  <input [(ngModel)]="garaje" type="checkbox" name="garaje" id="garaje">
  <br>

  <label for="piscina">Piscina: </label>
  <input [(ngModel)]="piscina" type="checkbox" name="piscina" id="piscina">
  <br>

  <button
  (click)="calcular()"
  >Calcular</button>

</div>
