<div class="component-container">

  <label id="total_costo">
    Costo total: ${{total_costo}}
  </label>
  <br>
  <br>
  <label for="habitaciones">Habitaciones: </label>
  <input [(ngModel)]="habitaciones" type="number" name="habitaciones" id="habitaciones">
  <br>

  <label for="pisos">Pisos: </label>
  <input [(ngModel)]="pisos" type="number" name="pisos" id="pisos">
  <br>

  <label for="banos">Baños </label>
  <input [(ngModel)]="banos" type="number" name="banos" id="banos">
  <br>

  <input [(ngModel)]="categoria" type="radio" name="categoria" id="a" value="A" checked>
  <label for="a">Categoria A</label>
  <br>

  <input [(ngModel)]="categoria" type="radio" name="categoria" id="b" value="B">
  <label for="b">Categoria B </label>
  <br>

  <input [(ngModel)]="categoria" type="radio" name="categoria" id="c" value="C">
  <label for="c">Categoria C </label>
  <br>

  <input [(ngModel)]="categoria" type="radio" name="categoria" id="d" value="D">
  <label for="d">Categoria D </label>
  <br>

  <button
  (click)="calcular()"
  >Calcular</button>

</div>
