.titleForm{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.containerChecks {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr;
}

.formCheck{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}
