body{
  margin: 0px;
}

/* Estilos generales del componente */
.component-container {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
}

/* Estilos para el botón de calcular */
button {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3; /* Cambio de color al pasar el ratón sobre el botón */
}

/* Estilos para los selectores y etiquetas */
label{
  display: inline;
  margin-top: 10px;
}

input{
  margin-top: 10px;
}

/* Estilos para el costo total */
#total_costo {
  font-size: 20px;
  margin-top: 20px;
}


